<h2>Pictures</h2>
<input type="file" (change)="imageSelected($event.target.files[0])">
<h4>List</h4>
<div *ngFor="let pic of picturesList">{{pic}} <button (click)="deleteImage(pic)">DELETE</button></div>
<h4>Downloaded</h4>
<img *ngFor="let blob of picturesDownloaded" src="{{blob}}" height="100px">

<h2>Videos</h2>
<input type="file" (change)="videoSelected($event.target.files[0])">
<h4>List</h4>
<div *ngFor="let video of videosList">{{video}} <button (click)="deleteVideo(video)">DELETE</button></div>
<h4>Downloaded</h4>
<!-- <img *ngFor="let blob of videosDownloaded" src="{{blob}}"> -->
