<h2>Pictures with SAS</h2>
<table>
  <tr>
    <td></td><td><input type="file" (change)="imageSelected($event.target.files[0])"></td>
  </tr>
  <tr>
    <td>Insert SAS:</td><td><input type="text" (change)="setSas($event)" size="90"></td>
  </tr>
  <tr>
    <td>Current SAS:</td><td>{{sas}}</td>
  </tr>
</table>
<h4>List</h4>
<table>
  <tr *ngFor="let pic of picturesList">
    <td>{{pic}}</td>
    <td><button (click)="deleteImage(pic)">DELETE</button></td>
    <td><button (click)="downloadImage(pic)" download="pic">DOWNLOAD</button></td>
  </tr>
</table>
<h4>Downloaded</h4>
<img *ngFor="let blob of picturesDownloaded" src="{{blob}}" height="100px">
